 *{margin: 0;padding: 0;font-family: Arial, Helvetica, sans-serif;}
div{
 background-color: rgb(21, 87, 209);
}
h1{ color: white;
    margin-top: 50px;margin-bottom: 40px;font-weight: 800;font-size: xx-large;}
.h1{color: red;}
 h3{
    color: white;
  margin-bottom: 40px;
}
h2{color: white; font-weight: 600;}
.p{color: white;font-weight: 700;}
ol{columns: 2;
    list-style:none;
    text-align: justify;
}
ol li{
    color: white;
    font-size: 18px;
}
.divDetails{
    display: block;margin: auto;
}
.div, .divFavorito{
   
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    display: block;
    margin: auto;

}
.divR{
  color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.divFavor{
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    cursor: pointer;
}
.divFavor:active{
    background-color: lightblue;
}


img{width: 200px;}

input{
    width: 50%;
    height: 5vh;
}
button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: darkblue;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(86, 127, 239);
    color: black;
}
.btnFavorito{
    background-color: rgb(233, 121, 121);
}
.btnFavorito:hover{
background-color: red;
    color: white;
}
.btnFavorito:active{
    background-color: rgb(52, 15, 15);
}

.topo{
    position: fixed;
    top: 400px;
}

.Pick{
    display: block;
    margin: auto;
}

.BtnClear{
    position: sticky;
    bottom: 0
    ;
}

.btnH2{
    display: block;
    width: 50%;
    margin: auto;
}